<h1>{{.PageTitle}}<h1>
<ul>
    {{range .Todos}}
        {{if .Done}}
            <li class="done"><i>{{.Title}}</i></li>
        {{else}}
            <li>{{.Title}}</li>
        {{end}}
    {{end}}
</ul>